@import '~nativescript-theme-core/css/core.light.css';
.action-bar {
    background-color: #3E646C;
    color: #ffffff;
    padding-right: 10;
}

.dialog {
    /* background: linear-gradient(#3E646C 0%, #3E646C 20%,  rgb(98, 161, 173) 100%); */
    width: 100%;
    padding: 0;
    border-radius: 12 12 0 0;
    height: 30%;
}

.action-button {
    font-family: "FontAwesome";
    font-size: 24;
    font-weight: normal;
    text-align: center;
    background-color: #3E646C;
    padding:0;
    margin:0;
    z-index:0;
    width: 80px;
}


.menu-container {
    margin: 10em;
    padding: 5em;
    margin-top: 30em;
    border-radius: 10px;
    background-color: rgb(215, 248, 255);
}

.menu-icon {
    /* background: rgb(252, 246, 202); */
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border-width: 2px;
    border-color: rgb(59, 97, 105);
    /* border-color: rgb(161, 160, 145); */
    margin: 3em;
    color: rgb(27, 55, 61);
    font-weight:600;
}

.back-btn{
    color: red;
    background-color: blue;
}

.wrapper {
    padding-top: 5em;
    background: linear-gradient(#3E646C 0%, #3E646C 10%,  rgb(98, 161, 173) 30%);
}

.dialog Label {
    margin: 0 15 15 15;
    color: black;
}


.header {
    color: #ffffff;
}


.modal_chart {
    width: 100%;
}